body {
    background-image: url(surati.jpg);
	background-image: no-repeat;
	background-image: fixed;
	background-size: cover;

}
 .navigacia {
    
    border-color:#716fbc;
	margin: center;
	text-align: center;
	font-family:aller;
}
.navigacia>li {
    display: inline;
    padding: 60px;

}

.suratebi {
	padding:100px;
	text-align:center;
}